body{
    margin: 0;
    padding: 0;
    }
.hea#blur.active{
    filter: blur(7px);
    background: #0b0b4c;
    pointer-events: none;
    user-select: none;
}

#card.active{
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}
.nav-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: -72px;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}

.nav-list li {
    padding: 10px 35px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.btn1 {
    float: right;
    margin-top: -58px;
    background: rgb(17, 230, 230);
    border: 2px solid rgb(17, 230, 230);
    width: 10%;
    height: 48px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    color: navy;
    font-family: 'Benne', serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 10px;
}
.hea{
    background-image: url('images/Web\ 1920\ –\ 4@2x.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

.navbar .nav img {
    margin-top: -10px;
}

.container2 h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container2 p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container2 h3 {
    color: cyan;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.container2 {
    margin-top: 130px;
    margin-left: 70px;
    font-size: 22px;
}


/* footer */


    footer{
        background: #071337;
        clip-path: polygon(0 0,80% 20%,100% 0,100% 100%,0 100%);
    }
    .row{
        display: flex;
        margin-top: 33px;
        justify-content: center;
    }
    .col{
        padding: 10px 140px;
    }
    .logo img{
        margin: 22px 5px;
    }
    .header{
        font-size: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin:21px  25px;
    }
    #foot{
        list-style: none;
    /* margin: 10px -13px; */
    padding: 3px 23px;
    color: #859ac0;
    font-size: 22px;
    text-align: center;
    }
    #foot li{
    font-size: 22px;
    transition: letter-spacing .3s ease-in-out;
    }
    
    #foot li:hover {
    letter-spacing: 1.5px;
    cursor: pointer;
    }
    #foot li a{
        text-decoration: none;
        color: #859ac0;
    }
    .copyright p{
        text-align: center;
    padding: 21px 0;
    color: #fff;
    font-size: 18px;
    }
    .row .col ul li i{
        padding: 10px 25px;
    }
    #flex li{
        font-size: 34px;
    }
    #flex{
        padding: 0px 20px;
        display: flex;
        list-style: none;
    }

/* Scroll bar */
/* width */
::-webkit-scrollbar {
width: 20px;

}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 18px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(4, 4, 49, 0.966); 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: rgba(22, 113, 155, 0.966);
}



.contimg img{
    height: 100%;
     width: 70%;
    float: right;
 }
 .content{
     margin-left: 5%;
     margin-top: 5%;
 
     font-family: 'Roboto', sans-serif;
 }
 .cont1{
     display: flex;
 }
 .cont1 h1{
     text-align: center;
     font-size: 40px;
 }
 .content h1{
     color: #071337;
 }
 .content p{
     margin-top: 50px;
     color: grey;
     font-size: 25px;
 }
 .cont2{
     display: flex;
 }
 .contimg2 img{
     /* height: 95%;
     width: 65%; */
     height: 100%;
     width: 78%;
     float: left;
 }
 .content2 p{
     margin-top: 50px;
     color: grey;
     font-size: 25px;
 }
 .content2 h1{
     color: #071337;
     font-size: 40px;
 }
 .cont2 h1{
     text-align: center;
 }
 .content2{
         /* margin-right: 10%;
         margin-top: 5%; */
         margin-right: 5%;
     margin-top: 5%;
         font-family: 'Roboto', sans-serif;
 }
 .content2 button:hover{
     background-color: #20ffff;
     color: #0b0b4c;
 }
 .content2 button {
    width: 30%;
    height: 15%;
    font-size: 30px;
    background: rgba(4, 4, 49, 0.966);
    color: white;
    margin-top: 6%;
    margin-bottom: 10%;
    margin-left: 34%;
    cursor: pointer;
    border: none;
}


@media screen and (max-width: 991px){
    body {
        width: 366vw;
    }

    /*header*/
    .hea {
        background-size: 430vw 100vh;
    }

    /*Sections*/
    .cont1 {
        display: block;
    }

    .content h1 {
        text-align: center;
        font-size: 50px;
    }

    .content p {
        margin-top: 60px;
        color: grey;
        font-size: 35px;
    }

    .contimg img {
        width: 60%;
        margin-right: 40%;
    }

    .cont2 {
        display: block;
    }

    .contimg2 img {
        height: 86%;
        width: 60%;
        margin-left: 40%;
        float: none;
    }

    .content2 h1 {
        text-align: center;
        font-size: 50px;
    }

    .content2 p {
        margin-top: 50px;
        color: grey;
        font-size: 35px;
        text-align: center;
    }

    .content2 button {
        height: 90px;
        margin-left: 40%;
    }

    /*footer*/
    .row {
        display: block;
        text-align: center;
        margin-top: 60px;
    }

    .header {
        justify-content: center;
        font-size: 40px;
    }

    #flex {
        justify-content: center;
    }

    #foot li a {
        font-size: 30px;
        text-decoration: none;
        color: #859ac0;
    }

    #foot li {
        font-size: 25px;
    }

    .copyright p {
        font-size: 25px;
    }
    

     .container2 {
        margin-top: 65px;
     }
     .logo {
        width: 246px;
    }
    .whole#blur1.active{
        filter: blur(7px);
        background: #0b0b4c;
        pointer-events: none;
        user-select: none;
    }
    /* .card {
        height: 1304px;
    width: 763px; */
        /* margin-left: 74%;
        margin-top: -4100px; */

        /* left: 237px;
    top: 274px;
    }
    .front, .back{
            font-size: 45px;
    }
    .closed {
        font-size: 111px;
        margin: 0 -191px;
    }
    .heading h1 {
        font-size: 75px;
        margin-top: 21%;
        margin-left: 53%;
    }
    .card input {
        height: 59px;
        width: 490px;
    }
    ::placeholder{
        font-size: 36px;
    }
    .card p.forgot {
        font-size: 38px;
        margin-top: 111px;
    }
    .btn2 {
        margin-top: 92px;
        border-radius: 50px;
        height: 96px;
        width: 370px;
        font-size: 48px;
    }
    .card p {
        margin-left: 45px;
        font-size: 40px;
    }
    .close{
        font-size: 111px;
        margin: 0 56px;
    }
    .heading1 h1 {
        font-size: 75px;
        margin-top: 13%;
        margin-left: 15%;
    }
    .btn {
        margin-top: 92px;
        border-radius: 50px;
        height: 96px;
        width: 370px;
        font-size: 48px;
    }
    .card p#para {
        margin-left: -30px;
        margin-top: 15px;
    } */

    .navbar ul{
        display: none;
    }
    .site-main-wrapper{
        position: relative;
    }
    .hamberger{
        position: fixed;
        top: 17px;
        right: 80px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    /* width: 30px; */
    font-size: 54px;
    color: #fff;
    }
    
    .mobile-nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        background:#F2F2F2 ;
        width: 40%;
        height: 100%;
        padding: 2rem;
        padding-top: 5rem;
        transform: translateX(-100%);
        transition: all .5s ease-in-out;
    }
    .mobile-nav ul li a{
        display: block;
        padding: 90px 33px;
        /* border-radius: 10px; */
     }
     .mobile-nav ul li a:hover{
        color: #03034d;
      }
      
    .open{
        transform: translateX(0);
    }
    .times{
        position: fixed;
        top: 30px;
        right: 30px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 54px;
    }
    .mobile-nav ul{
        list-style-type: none;
    }
    
    .mobile-nav ul li a{
        color: black;
        text-decoration: none;
        font-size: 48px;
    }
    
    .mobile-nav button{
        margin-top: 1rem;
    }
 .btn1{
    margin-right: 27%;
    font-size: 30px;
    width: 135px;
    height: 68px;
    border-radius: 5px;
    margin-top: -121px;
}
}

@media (min-width:991px){
    .hamberger{
        display: none;
    }
    .mobile-nav{
        display: none;
    }
  }
  